.main_div
{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    font-family: 'Varela Round', sans-serif;
}
.center_div
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    width: 400px;
    height: 500px;
}
.heading
{
    background-color: rgb(155, 56, 155);
    color: white;
    text-align: center;
    padding: 7px;
    width: 100%;
    font-family: 'Varela Round', sans-serif;
}
.operation
{
    text-align: center;
    font-size:large;
}
.operation input
{
    text-align: center;
    color: rgb(155, 56, 155);
    font-family: 'Varela Round', sans-serif;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
}
.operation input:focus
{
    outline: none;
}
.operation button
{
    border-radius: 20px;
    margin-left: 10px;
    color: rgb(155, 56, 155);
    font-weight: bolder;
    font-size: large;
}
ul
{
    margin-top: 5px;
    padding-left: 30px;
}
li
{
    color: rgb(33, 121, 7);
    font-weight: bolder;
    font-size: large;
}
button
{
    font-size: large;
}
.el
{
    display: flex;
    margin-bottom: 10px;
    background-color: bisque;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 4px 4px 10px black;
}
.el button
{
    border-radius: 15px;
    /* margin-right: 30px; */
    font-size: large;
    height: 38px;
    width: 35px;
}
.el li
{
    margin-top: 6px;
    margin-left: 25px;
}
.content
{
    height: 340px;
    overflow-y: scroll;
    padding-right: 30px;
    /* border: 2px solid red; */
}